@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
}

.container{
    width: 80%;
    margin:0 auto;
    background-color: hsl(0, 0%, 100%);
    max-width: 700px;
    padding: 2em;
    border-radius: 1rem;
    margin-top: 15%;
    margin-bottom: 1em;
    /* border: .5px solid black; */
    box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, .7);
}

.card{
    display: flex;
    flex-direction: column;
}
.card-header_image{
    margin-bottom: 1.2em;
}
.card-header_image img{
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
}

.card-header_light{
    background-color: hsl(47, 88%, 63%);
    outline: none;
    border: none;
    padding: .5em;
    border-radius: .5rem;
    font-weight: 800;
    margin-bottom: 1em;
}

.card-header_date{
    font-size: 0.875rem;
    margin-bottom: 1em;
}

.card-title{
    font-size: 1.7rem;
    margin-bottom: .5em;
}

.card-content{
    opacity: .5;
    margin-bottom: 1em;
}

.card-footer{
    display: flex;
    align-items: center;
    gap:1em
}

